<html>  
  <head>
    <title>Hyeonjung Ko</title>

		<link rel="stylesheet" href="/static/css/style.css">
		<!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit-icons.min.js"></script>
  </head>
  <body>
		<div class="uk-container">

			<nav class="uk-navbar-container uk-navbar-transparent container-bottom container-top container-center" uk-navbar>
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
						<li class="uk-active"><a href="/">Hyeonjung Ko</a></li>
						<li class="uk-active"><a href="https://github.com/hyeonjungko">Github</a></li>
          </ul>
         </div>
       </nav>

			 <div class="uk-section uk-dark">
        <div class="uk-container-xsmall">
					<h3>Email: hjko1203@gmail.com</h3>
					<h4>Email: hjko1203@gmail.com</h4>
				</div>
			 </div>

		</div>
  </body>
</html>  
