<!-- templates/index.html -->  
<html>  
  <head>
    <title>Hyeonjung Ko</title>


		<link rel="stylesheet" href="/static/css/style.css" type="text/css"/>
  </head>
  <body>
		<header id="header">
			<div class="header-container">
				<div class="header-left">
					<a id="logo" href="/" title="Hyeonjung Ko">hko</a>
				</div>
				<div class="header-right">
					<ul class="nav-items">
						<li>
					    <a id="resume" href="/">Rs</a>
						</li>
						<li>
					    <a href="https://www.linkedin.com/in/hyeonjung-ko/">
								<img src="../static/images/linkedin.svg">
							</a>
						</li>
						<li>
					    <a href="https://github.com/hyeonjungko">
								<img src="../static/images/github.svg">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</header>

		<div class="email-container">
			<a id="email" href="mailto:hjko1203@gmail.com">hjko1203@gmail.com</a>
		  <hr id="line"></hr>
		</div>


		<div class="main">
			<div class="section main-text">
				<p id="intro-hi">Hi, I am</p>
				<p id="intro">Hyeonjung Ko, a student and a software engineer.</p>
				<p>I’m currently studying computer science at Northeastern University.</p>
				<p>My cross-disciplinary interests lie in software design, machine learning, distributed computing, economics, finance, design and music.</p>
			</div>

			<!--
			<div class="section work">
				<p class="main-title" id="work-title">Work Experience<p>
			</div>
			<div class="section courses">
				<p class="main-title" id="courses-title">Courses<p>
			</div>
			<div class="section projects">
				<p class="main-title" id="projects-title">Projects<p>
			</div>
		</div>
			-->

  </body>
</html>  
