<!-- templates/index.html -->  
<html>  
  <head>
    <title>Hyeonjung Ko</title>



		<link rel="stylesheet" href="/static/css/style.css" type="text/css"/>
  </head>
  <body>
		<header id="header">
			<div class="header-container">
				<div class="header-left">
					<a id="logo" href="/" title="Hyeonjung Ko">hko</a>
				</div>
				<div class="header-right">
					<ul class="nav-items">
						<li>
					    <a id="resume" href="/">Rs</a>
						</li>
						<li>
					    <a id="github" href="https://www.linkedin.com/in/hyeonjung-ko/">Lk</a>
						</li>
						<li>
					    <a id="github" href="https://github.com/hyeonjungko">Gh</a>
						</li>
					</ul>
				</div>
			</div>
		</header>

		<div class="main">
			<div class="main-text">
				<p>I am Hyeonjung Ko, a student and a software engineer from Seoul, South Korea.</p>
				<p>I’m currently studying computer science at Northeastern University.</p>
				<p>My cross-disciplinary interests lie in software design, machine learning, distributed computing, economics, finance, and music.</p>
				<p>I have just completed a 6 month co-op at TripAdvisor, and am looking for another internship!</p>

			</div>
		</div>

		<footer class="footer">
			<div class="courses">
			  <p>courses</p>	
			</div>
			<div class="work-experience">
			  <p>work experience</p>	
			</div>
			<div class="projects">
			  <p>projects</p>	
			</div>
			<div class="contact">
			  <p>contact</p>	
			</div>
		</footer>
  </body>
</html>  
