<html>  
  <head>
    <title>Hyeonjung Ko</title>

		<link rel="stylesheet" href="/static/css/style.css">
		<!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit-icons.min.js"></script>
  </head>
  <body>
		<div class="uk-container">

			<nav class="uk-navbar-container uk-navbar-transparent container-bottom container-top container-center" uk-navbar>
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
						<li class="uk-active"><a href="/">Hyeonjung Ko</a></li>
						<li class="uk-active"><a href="/contact">Contact</a></li>
          </ul>
         </div>
       </nav>
			 {{body}}

		</div>
  </body>
</html>  
